* {
    margin: 0;
    padding: 0;
}
.header {
    padding: 100px;
    text-align: center;
    background: #333333;
    color: #ED4F06;
    font-size: 60px;
}
.header img{
    float: left;
    width: 250px;
    height: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -50px;
    margin-left: -30px;
}

.showUp {
    width:0px;
    animation: reveal 7s infinite;
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}

.reveal {

}

.slideIn {
    display: block;
    margin-left:-355px;
    animation: slidein 7s infinite;
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

footer {
    background-color: #333333;
    color: white;
    position: relative;
    padding:45px 0 20px;
    font-size:20px;
    display: flex;
    line-height: 2em
}
.email {
    unicode-bidi: bidi-override;
    direction: rtl;

}
address h4{
    color: #ED4F06;

}
footer h4{
    color: #ED4F06;
}
footer ul{
    line-height:2em;
}

#idOriginal {
    width: 35vw;
    min-height: 200px;
    margin: 20px;
    background-color: goldenrod;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

#idTranslated {
    width: 35vw;
    min-height: 200px;
    margin: 20px;
    background-color: coral;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
#idTranslation{
    display: flex;
}
.footer a:hover {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: white;
    opacity: 0.7;
}

#idSearchButton {
    margin-top: -5px;
}


