.header {
    padding: 100px;
    text-align: center;
    background: #333;
    color: #ED4F06;
    font-size: 60px;
}
.header img{
    float: left;
    width: 250px;
    height: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -50px;
    margin-left: -30px;
}
footer {
    background-color: #333333;
    color: #e5e5e5;
    position: relative;
    padding:45px 0 20px;
    font-size:20px;
    line-height:25px;
}
